/* Estilo general */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  /* Encabezado */
  header {
    text-align: center;
    margin-bottom: 20px;
  }
  
  header h1 {
    color: #0077b6;
  }
  
  /* Formulario de login */
  main form {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    display: flex;
    flex-direction: column;
  }
  
  main form label {
    font-weight: bold;
    margin-top: 10px;
  }
  
  main form input {
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 14px;
  }
  
  main form button {
    background-color: #0077b6;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 4px;
    font-size: 16px;
    margin-top: 20px;
    cursor: pointer;
  }
  
  main form button:hover {
    background-color: #005f8a;
  }
  
  /* Footer */
  footer {
    position: absolute;
    bottom: 10px;
    width: 100%;
    text-align: center;
    font-size: 14px;
    color: #555;
  }
  
  footer p {
    margin: 0;
  }
  